</main>
<footer class="site-footer">
    <p class="site-footer__copyright-text">&copy; 2025 Cocktail Recipe Website | All rights reserved.</p>
    <p class="site-footer__author">Designed and Built by <a href="https://github.com/sahilkhan-777/" target="_blank">Sahil Khan</a></p>
</footer>
</body>
</html>