.site-container {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-drink__thumbnail {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 32px;
}

ul {
    list-style: none;
}

.site-drink__tags {
    display: flex;
    gap: 0.5rem;
}

.site-drink__tags li {
    background-color: rgba(223, 118, 118, 0.5);
    border: 2px solid rgb(122, 59, 59);
    padding: 0.5rem 1rem;
    border-radius: 16px;
}

.site-drink__info {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-wrap: wrap;
}

.site-drink__instructions {
    padding: 1.5rem;
}

.site-drink__ingredients {
    padding: 1.5rem;
}